# Environment variables
.env
.env.local
.env.production

# Dependencies
node_modules/

# Database files
*.db
data.db
database.db

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.git.zip

# Build outputs
dist/
build/
.vercel/

# Temporary files
tmp/
temp/

# SQLite database
*.sqlite
.vercel-token
token.txt
token-email.txt
SAD app.txt
token-supabase*
akun-tes.txt
supabase-url.txt
backup/
backup-supabase.py
